<!-- <a href="https://api.instagram.com/oauth/authorize/?client_id=8ad66f3a96be40c09f0b5f307ab9592a&redirect_uri=http://localhost:3000/callback&response_type=code"> Sign into your instagram </a> -->

<a href="/oauth">Connect with Instagram</a>