<!-- This will send the user to routes (get 'oauth' => 'users#oauth') -->
<style>
* {
	background-color: #EEF7FF;
}

#instagram {
	text-decoration: none;
	color: black;
}

#outter {
	width: 100%;
}
#inner {
	padding-top: 25%;
	width: 20%;
	margin: 0 auto;
}
#instagram {
	padding-top: 150px;
	margin-top, margin-bottom: 0;
	font-family: "Palatino Linotype";
	border: 2px solid black;
	border-spacing: 10px;
	border-radius: 15px;
	padding: 5px 10px;
}

a:hover {
	/*border: 2px solid black;
	border-spacing: 10px;
	border-radius: 25px;*/
	color: #F7505A !important;
	background-color: white;

}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
$(document).ready(function(){
	$('#instagram').hover(function(){
		$(this).effect('bounce',{times:3}, 50);
	});
})
</script>
<div id="outter">
	<div id="inner">
		<a href="/oauth" id="instagram"> SIGN INTO YOUR INSTAGRAM </a>
	</div>
</div>

