<!-- This will send the user to routes (get 'oauth' => 'users#oauth') -->
<style>
body {
	background-image: url("http://i.imgur.com/YY3bLP7.jpg");
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

#instagram {
	text-decoration: none;
	color: black;
}

h1 {
	color: white;
}

#outter {
	width: 100%;
	margin: 0 auto;
}
#inner {
	padding-top: 20%;
	width: 40%;
	margin: 0 auto;
	text-align: center;
}
#instagram {
	padding-top: 150px;
	margin-top, margin-bottom: 0;
	/*font-family: "Palatino Linotype";*/
	border: 2px solid white;
	border-spacing: 10px;
	border-radius: 3px;
	padding: 5px 10px;
	color: white;
}

a:hover {
	/*border: 2px solid black;
	border-spacing: 10px;
	border-radius: 25px;*/
	color: #33A1C9 !important;
	background-color: white;

}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
// <script>
// $(document).ready(function(){
// 	$('#instagram').hover(function(){
// 		$(this).effect('bounce',{times:3}, 500);
// 	});
// });
// </script>
<div id="outter">
	<div id="inner">
		<h1> See all your Instagram photos on a world map </h1>
		<a href="/oauth" id="instagram"> SIGN INTO YOUR INSTAGRAM </a>
	</div>
</div>

