<div id="wrap">
    <div id="header">
      <h1>
        Sweet Travel Map
      </h1>
    </div>
    <div id="info">
      <div id="info-left">
        Here lies a sweet image.
      </div>
      <div id="info-right">
       This is my first project working with API's - here specifically it's using both Instagram and Google Maps API. There are a couple other additional features I plan on additing, e.g. allowing anyone to sign in.
      </div>
    </div>
    <div id="map-canvas">
      Map map map map map
    </div>
    <div id="target"></div>
</div>


